.flip-card {
    perspective: 500px; /* Define the 3D perspective for the card */
}

.flip-card-inner {
    transition: transform 0.6s;
    transform-style: preserve-3d; /* Keep the 3D transformation for child elements */
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg); /* Rotate the card 180 degrees on hover */
}

.flip-card-front,
.flip-card-back {
    backface-visibility: hidden; /* Hide the back of the card when it's not visible */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem; /* Tailwind class for rounded corners */
}

.flip-card-front {
    background-color: #ffffff; /* Front side background color */
    z-index: 2;
}

.flip-card-back {
    background-color: #1f2937; /* Back side background color (dark gray) */
    color: white;
    transform: rotateY(180deg); /* Flip the back side */
    z-index: 1;
}

@keyframes glow {
    0%, 100% {
        box-shadow: 0 0 5px rgba(209, 246, 59, 0.3);
    }
    50% {
        box-shadow: 0 0 20px rgba(59, 246, 125, 0.8);
    }
}

.glow-button {
    animation: glow 1s infinite;
}